<!DOCTYPE HTML>
<html ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Каталог ноутбуков</title>
    @Styles.Render("~/app/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/app")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="margin-left:18%">
            <div class="navbar-header">
                <div class="navbar-brand">
                    Каталог ноутбуков
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-left:18%">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
